numpy~=2.2.6
opencv-python~=4.12.0.88
spacy~=3.7.2
matplotlib~=3.10.0
datasets~=3.3.2
transformers~=4.55.4
torch~=2.7.1+cu118
openai~=1.101.0
pillow~=11.3.0
pyyaml~=6.0.2
ultralytics~=8.3.180
ollama~=0.5.3
python-dotenv~=1.1.1